{% extends  'myapp/student_base.html' %}
{% load static %}

{% block body %}

<center>
    <h3>New Student</h3>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form role="form" name="frm" method="post" action="{%url 'student_register'%}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="s_name">Student Name</label>
                        <input type="text" name="s_name" id="s_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="s_class">Class</label>
                        <input type="text" name="s_class" id="s_class" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="text" name="age" id="age" class="form-control" required>
                    </div>
                     <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" class="form-control" required>
                    </div>

                       <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" name="password" id="password" class="form-control" required>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-info" name="bt" id="bt">Register</button>
                </form>
                <p class="text-info">{{msg}}</p>
            </div>
            <div class="col"></div>
        </div>
    </div>
</center>
{% endblock %}